{% extends 'core/base.html.twig' %}

{% block content %}
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'D:/Yannick/4D6/4D6.H23.git/S02.IntroSymfony/IntroSymfony/src/Controller/ItemController.php'|file_link(0) }}">src/Controller/ItemController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'D:/Yannick/4D6/4D6.H23.git/S02.IntroSymfony/IntroSymfony/templates/item/index.html.twig'|file_link(0) }}">templates/item/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
