CREATE TABLE champions (idChampion INT AUTO_INCREMENT NOT NULL, name VARCHAR(50) NOT NULL, title VARCHAR(50) NOT NULL, description VARCHAR(1024) NOT NULL, imagePath VARCHAR(255) NOT NULL, idMainRole INT DEFAULT NULL, INDEX IDX_D747FBE08F486AFF (idMainRole), PRIMARY KEY(idChampion)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
CREATE TABLE roles (idRole INT AUTO_INCREMENT NOT NULL, name VARCHAR(10) NOT NULL, sortOrder INT NOT NULL, PRIMARY KEY(idRole)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
CREATE TABLE messenger_messages (id BIGINT AUTO_INCREMENT NOT NULL, body LONGTEXT NOT NULL, headers LONGTEXT NOT NULL, queue_name VARCHAR(190) NOT NULL, created_at DATETIME NOT NULL, available_at DATETIME NOT NULL, delivered_at DATETIME DEFAULT NULL, INDEX IDX_75EA56E0FB7336F0 (queue_name), INDEX IDX_75EA56E0E3BD61CE (available_at), INDEX IDX_75EA56E016BA31DB (delivered_at), PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
ALTER TABLE champions ADD CONSTRAINT FK_D747FBE08F486AFF FOREIGN KEY (idMainRole) REFERENCES roles (idRole);
