{% extends 'core/base.html.twig' %}

{% block content %}

    <h1 class="mt-5">Ordinateurs</h1>
    <div class="row">
        <div class="row flex-row-reverse">
            <a class="btn btn-primary col-3" href="{{ path('app_computer_builder') }}">Nouveau</a>
        </div>
    </div>

{% endblock %}
