{% extends 'core/base.html.twig' %}

{% block content %}

    <h1>Nouvelle page dans une deuxième route.</h1>
    
    <img src="{{ asset('images/' ~ image_name ~ '.' ~ image_extension) }}" alt="">
    <img src="{{ asset('images/chat2.webp') }}" alt="">

{% endblock %}